.single-tweet {
    padding: 16px;
    background-color: #f1f1f1;
    border-radius: 8px;
    margin: 16px 0;
}


.avatar img {
    border-radius: 40px;
}

.user-info {
    padding: 16px 0 8px 0;
}

.username {
    color: #007bff;
}