.header {
    text-align: center;
    margin-top:40px;
}

.header .logo {
    display: block;
    height: 80px;
    width: auto;
    margin: 0 16px 40px 16px;
}

.header .logo img {
    width: auto;
    height: 100%;
}