.header .search {
    display: block;
    width: auto; 
    margin: 0 16px 40px 16px;
}

.header .search .btn {
    margin-left: 8px;
    height: 40px;
}

.header .search input {
    height: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: #ececec;
    vertical-align: middle;
    padding: 0 16px;
}